<div class="container">
    <mat-toolbar>
        <span class="full-remaining-space"></span>
        <span>Angular Material</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <app-employee></app-employee>
</div>
